<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>548922117249-usqgoqo837isoa2ngo4umjamvdtt10mt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.548922117249-usqgoqo837isoa2ngo4umjamvdtt10mt</string>
	<key>API_KEY</key>
	<string>AIzaSyCJkDMW5X1ALoA_SZwDHBHB2QbihcK9Q8s</string>
	<key>GCM_SENDER_ID</key>
	<string>548922117249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.notificationsFirebase</string>
	<key>PROJECT_ID</key>
	<string>learn-firebase078</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-firebase078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:548922117249:ios:f73c7f7ff192a30cb71180</string>
</dict>
</plist>